<div>
    <h2>Bankaccounts</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="bankaccount.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Bankaccount
                    </span>
                </button>
            </div>
            <!-- Feature Toggle: add a search bar -->
            <div class="col-xs-8 no-padding-right" ng-if="vm.bankaccountsVersion == 'v2'">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Search account">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            <!-- End Search Bar template-->
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Clientname</span></th>
                    <th><span>Balance</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bankaccount in vm.bankaccounts track by bankaccount.id">
                    <td><a ui-sref="bankaccount-detail({id:bankaccount.id})">{{bankaccount.id}}</a></td>
                    <td>{{bankaccount.clientname}}</td>
                    <td>{{bankaccount.balance}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="bankaccount-detail({id:bankaccount.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="bankaccount.edit({id:bankaccount.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="bankaccount.delete({id:bankaccount.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
